<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>75966D8B-E0A6-4B0A-913C-99C30115BCDE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E8394746-E501-4100-A91E-3666A2536A01</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E8394746-E501-4100-A91E-3666A2536A01</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>496D9CA6-A702-42C0-B417-162CD052402F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string></string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Move to Inbox</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<true/>
				<key>filetypes</key>
				<array/>
				<key>name</key>
				<string>Move to Inbox</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>75966D8B-E0A6-4B0A-913C-99C30115BCDE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>mv -n "$@" "/Users/shaack/Library/Mobile Documents/com~apple~CloudDocs/Verwaltung/Inbox"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E8394746-E501-4100-A91E-3666A2536A01</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>moved to Inbox</string>
				<key>title</key>
				<string>Files</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>496D9CA6-A702-42C0-B417-162CD052402F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>When you choose a file, you can show the File Actions for it by pressing the right arrow. 

The File Action trigger allows you to add custom file actions, specifying which file types it should apply to.

In this workflow, the File Action trigger is applicable to images (jpg, png and gif) and the action performed is to open the file(s) in Safari.</string>
	<key>uidata</key>
	<dict>
		<key>496D9CA6-A702-42C0-B417-162CD052402F</key>
		<dict>
			<key>xpos</key>
			<integer>555</integer>
			<key>ypos</key>
			<integer>135</integer>
		</dict>
		<key>75966D8B-E0A6-4B0A-913C-99C30115BCDE</key>
		<dict>
			<key>xpos</key>
			<integer>35</integer>
			<key>ypos</key>
			<integer>85</integer>
		</dict>
		<key>E8394746-E501-4100-A91E-3666A2536A01</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<integer>100</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>1.0</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
